Flask
Flask-RESTful
Flask-SQLAlchemy
SQLAlchemy
requests

#pysqlite3-binary
psycopg2-binary
jsonschema

pylint # For quality checks required by Teachers
ruff # For improving code quality and style to meet the standards right above (pylint)
black # For improving code quality and style to meet the standards right above (pylint)
pytest
pytest-cov

Flask-Caching
gunicorn
Flask-CORS
flask-swagger-ui